<template>
	<v-flex xs12>
		<v-progress-linear :indeterminate="true" :height="3" color="#c79121" :active="dataTable.loadingVal" class="mb-0 mt-5"></v-progress-linear>
		<v-data-table :ref="modelName + 'Table'" :id="modelName + 'Table'" :value="selectedList" @input="$emit('update:selectedList', $event)" :headers="dataTable.headers" :items="collection" :pagination.sync="dataTable.pagination" select-all item-key="id" class="elevation-1" >
			<template v-slot:headers="props">
				<tr>
					<th><v-checkbox :input-value="props.all" color="#c79121" :indeterminate="props.indeterminate" primary hide-details @click.stop="toggleAllSelected"></v-checkbox></th>
					<th v-for="header in props.headers" :key="header.text"
						:class="['column sortable', dataTable.pagination.descending ? 'desc' : 'asc', header.value === dataTable.pagination.sortBy ? 'active' : '']"
						@click="$emit('change-sort', header.value)">
						<v-icon small>arrow_upward</v-icon>
						{{ header.text }}
					</th>
				</tr>
			</template>
	        <template v-slot:items="props">
	        	<tr :active="props.selected" :class="(typeof props.item.active != 'undefined' && !props.item.active) ? 'alert-danger' : ''">
	                <td class="text-center align-middle" @click="props.selected = !props.selected">
	                    <v-checkbox :input-value="props.selected" primary hide-details color="#c79121" ></v-checkbox>
	    			</td>

	    			<slot name="rowColumns" v-bind:item="props.item" v-bind:index="props.index">
	    				<td v-for="(field, key) in props.item" v-if="tblShowFields.includes(key)">{{ field }}</td>
	    			</slot>

    				<td class="text-right align-middle btn-cell">
						<slot name="rowBtns" v-bind:item="props.item">
							<v-btn title="Edit" color="primary" fab small @click="$emit('edit-row', props.item.id)"><v-icon>edit</v-icon></v-btn>
	    					<v-btn title="Delete" color="error" fab small class="text-white" @click="$emit('remove-row', props.item.id)"><v-icon>delete_outline</v-icon></v-btn>
						</slot>
	    			</td>
	    		</tr>
	        </template>
	        <template slot="no-data">
	            <p class="text-xs-center">No Data</p>
	        </template>
	    </v-data-table>
    </v-flex>
</template>

<script>
	export default {
		name: "admin-data-table",
		props: [
			'dataTable',
			'collection',
			'modelName',
			'collection',
			'selectedList',
			'tblShowFields'
		]
 	}
</script>

<style>
	.v-datatable.v-table .btn-cell {
		min-width: 230px;
	}
</style>